apiVersion: apps/v1
kind: Deployment
metadata:
  name: tezca-es
  labels:
    app.kubernetes.io/name: tezca-es
    app.kubernetes.io/part-of: tezca
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app.kubernetes.io/name: tezca-es
  template:
    metadata:
      labels:
        app.kubernetes.io/name: tezca-es
        app.kubernetes.io/part-of: tezca
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: elasticsearch
          image: docker.elastic.co/elasticsearch/elasticsearch:7.17.9
          securityContext:
            privileged: false
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            capabilities:
              drop: ["ALL"]
          ports:
            - containerPort: 9200
              protocol: TCP
          env:
            - name: node.name
              value: "tezca-es"
            - name: cluster.name
              value: "tezca-cluster"
            - name: discovery.type
              value: "single-node"
            - name: bootstrap.memory_lock
              value: "true"
            - name: ES_JAVA_OPTS
              value: "-Xms1g -Xmx1g"
          resources:
            requests:
              cpu: 500m
              memory: 2Gi
            limits:
              cpu: 2000m
              memory: 4Gi
          volumeMounts:
            - name: es-data
              mountPath: /usr/share/elasticsearch/data
      volumes:
        - name: es-data
          persistentVolumeClaim:
            claimName: tezca-es-data
