apiVersion: apps/v1
kind: Deployment
metadata:
  name: tezca-redis
  labels:
    app.kubernetes.io/name: tezca-redis
    app.kubernetes.io/part-of: tezca
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: tezca-redis
  template:
    metadata:
      labels:
        app.kubernetes.io/name: tezca-redis
        app.kubernetes.io/part-of: tezca
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          ports:
            - containerPort: 6379
              protocol: TCP
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 250m
              memory: 512Mi
          volumeMounts:
            - name: redis-data
              mountPath: /data
      volumes:
        - name: redis-data
          persistentVolumeClaim:
            claimName: tezca-redis-data
